<input
  type="text"
  placeholder="{{inputPlaceholder}}"
  #searchPhrase>
<select #searchSystem>
  <option value="null" disabled>{{ disabledOption }}</option>
  <option *ngFor="let searchSystem of searchSystems" [value]="searchSystem.value">{{ searchSystem.viewValue }}</option>
</select>
<button
  (click)="doSearch(searchSystem.value, searchPhrase.value)">{{ btnValue }}</button>
<p class="error" *ngIf="!searchPhraseIsValid">{{ searchPhraseErrorValue }}</p>
<p class="error" *ngIf="!searchSystemIsValid">{{ searchSystemErrorValue }}</p>
