input {
  height: 24px;
  width: 400px;
  padding-left: 10px;
}

select {
  height: 30px;
}

button {
  padding: 4px;
  line-height: 15px;
  height: 30px;
  border: 1px solid black;
  background: #e0e0e0;
  outline: none;
  text-decoration: none;
  color: black;
  transition: all .7s;
  cursor: pointer;
}

button:hover {
  color: darkolivegreen;
  background: white;
}

button:disabled {
  color: black;
  background: #e0e0e0;
  cursor: default;
}

.error {
  display: block;
  color: red;
}
